.header {
    display: grid;
    margin: 45px auto 0 auto;
    grid-template-columns: minmax(280px, 880px);
    border-bottom: 1px solid rgba(54,54,54, .7);
}

@media screen and (max-width: 320px){
    .header {
        margin-top: 28px;
    }
}