.profile__info {
    margin: 22px 0 0 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 670px){
    .profile__info {
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 320px){
    .profile__info {
        margin-top: 26px;
        margin-left: 65px;
        margin-right: 38px;
    }
}